@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;

}
main{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vh;
    margin: auto;
    background-color: aliceblue;
}
main > div#conteiner{
    text-align: center;
    background-color: aqua;
    width: 400px;

}